a{
   font-size: 1.6rem;
   
}

p{
   font-size: 1.7rem;
   margin-bottom: 1rem;
   line-height: 1.6;
}

h3{
   font-size: 1.8rem;
   margin-bottom: 1rem;
}

h2{
   font-size: 1.6rem;
   margin-bottom: 1rem;
}

h4{
   font-size: 1.4rem;
   margin-bottom: 1rem;
}

// text realated utiities

.text-primary{
   color: $primary;
}
.text-secondary{
   color: $secondary;
}
.text-white{
   color: $white;
}
.text-grey{
   color: $grey;
}
.text-success{
   color: $green;
}

.text-dark{
   color: $black;
}

.text-red{
   color: red;
}

.text-center{
   text-align: center;
}

.text-right{
   text-align: right;
}


.btn-group-start-right {
   max-width: 47.5rem;
   width: 100%;
   display: flex;
   justify-content: flex-end;
}

.mt-4{
   margin-top: 4rem;
}

.mb-4{
   margin-bottom: 4rem;
}



hr{
   border: 0;
   border-top: 1px solid #eee;
   width: 80%;
   margin: 0 auto;
}


.text-gradient-blue{
   background-image: linear-gradient(135deg , $primary , $black);
   background-size: 200%;
   margin-bottom: 1.5rem;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   text-transform: capitalize;
   display: inline-block;
   margin-bottom: 1.5rem;
   padding-bottom: .5rem;
   position: relative;

   &::before{
       left: 0;
       bottom: 0;
       position: absolute;
       background-color: $secondary;
       content: "";
       width: 5rem;
       height: .2rem;
   }
}




.heading{
   font-weight: 600;
   font-size: 3rem;
    
   @include max-650{
      font-size: 2rem;
   }

   &.heading-big{
      font-size: 5rem;
      text-transform: capitalize;
     
      @include max-650{
          font-size: 3rem;
      }


      &:hover{
         animation-play-state: paused;
      }
   }
  

   
}


.global-head-content{
   margin-bottom: 3rem;
}


.global-head{
   font-size: 3.5rem;
   display: inline-block;
   position: relative;
   background-image: linear-gradient(135deg , $primary , $black);
   background-size: 200%;
   margin-bottom: 1.5rem;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   text-transform: capitalize;

   @include max-650{
      font-size: 2.3rem;
   }
  

}


@keyframes changeTextBg {
   from{
      background-position: top left;
   }
   to{
      background-position: bottom right;
   }
}

.link{
   color: $primary;
}


.bg-light-text-grey{
   background-color: rgba($color: $grey, $alpha: 0.3);
   color: $grey;
   font-size: 1.9rem;
   padding: 1rem;
   margin-bottom: 0;
}

.success-message-box{
   padding: 1rem 2rem;
   background-color: $secondary;
   font-size: 1.7rem;

}