* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: inherit;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.img-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.img-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.img-full {
  width: 100%;
  -o-object-position: center;
     object-position: center;
  height: 100%;
}

.t-al-c {
  text-align: center;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.ml-2 {
  margin-left: 2rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4rem;
}

.p-5 {
  padding: 5rem;
}

.font-100 {
  font-weight: 100;
}

.font-400 {
  font-weight: 400;
}

.font-600 {
  font-weight: 600;
}

.font-700 {
  font-weight: 700;
}

.d-block {
  display: block;
}

@-webkit-keyframes animationOfelements {
  0% {
    -webkit-clip-path: polygon(79% 0, 94% 0, 69% 100%, 56% 100%);
            clip-path: polygon(79% 0, 94% 0, 69% 100%, 56% 100%);
  }
  100% {
    -webkit-clip-path: polygon(80% 0, 100% 0%, 70% 100%, 50% 100%);
            clip-path: polygon(80% 0, 100% 0%, 70% 100%, 50% 100%);
  }
}

@keyframes animationOfelements {
  0% {
    -webkit-clip-path: polygon(79% 0, 94% 0, 69% 100%, 56% 100%);
            clip-path: polygon(79% 0, 94% 0, 69% 100%, 56% 100%);
  }
  100% {
    -webkit-clip-path: polygon(80% 0, 100% 0%, 70% 100%, 50% 100%);
            clip-path: polygon(80% 0, 100% 0%, 70% 100%, 50% 100%);
  }
}

.loader-container {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.loader-container .loader-item {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-right-color: #5560b2;
  border-left-color: #5560b2;
  -webkit-animation: loaderAnimate 2s ease infinite;
          animation: loaderAnimate 2s ease infinite;
}

@-webkit-keyframes loaderAnimate {
  to {
    -webkit-transform: rotate(3turn);
            transform: rotate(3turn);
  }
}

@keyframes loaderAnimate {
  to {
    -webkit-transform: rotate(3turn);
            transform: rotate(3turn);
  }
}

a {
  font-size: 1.6rem;
}

p {
  font-size: 1.7rem;
  margin-bottom: 1rem;
  line-height: 1.6;
}

h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.text-primary {
  color: #5560b2;
}

.text-secondary {
  color: #66cfe2;
}

.text-white {
  color: #fff;
}

.text-grey {
  color: #565656;
}

.text-success {
  color: #41af66;
}

.text-dark {
  color: #000;
}

.text-red {
  color: red;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.btn-group-start-right {
  max-width: 47.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mt-4 {
  margin-top: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

hr {
  border: 0;
  border-top: 1px solid #eee;
  width: 80%;
  margin: 0 auto;
}

.text-gradient-blue {
  background-image: linear-gradient(135deg, #5560b2, #000);
  background-size: 200%;
  margin-bottom: 1.5rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: capitalize;
  display: inline-block;
  margin-bottom: 1.5rem;
  padding-bottom: .5rem;
  position: relative;
}

.text-gradient-blue::before {
  left: 0;
  bottom: 0;
  position: absolute;
  background-color: #66cfe2;
  content: "";
  width: 5rem;
  height: .2rem;
}

.heading {
  font-weight: 600;
  font-size: 3rem;
}

@media (max-width: 650px) {
  .heading {
    font-size: 2rem;
  }
}

.heading.heading-big {
  font-size: 5rem;
  text-transform: capitalize;
}

@media (max-width: 650px) {
  .heading.heading-big {
    font-size: 3rem;
  }
}

.heading.heading-big:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.global-head-content {
  margin-bottom: 3rem;
}

.global-head {
  font-size: 3.5rem;
  display: inline-block;
  position: relative;
  background-image: linear-gradient(135deg, #5560b2, #000);
  background-size: 200%;
  margin-bottom: 1.5rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: capitalize;
}

@media (max-width: 650px) {
  .global-head {
    font-size: 2.3rem;
  }
}

@-webkit-keyframes changeTextBg {
  from {
    background-position: top left;
  }
  to {
    background-position: bottom right;
  }
}

@keyframes changeTextBg {
  from {
    background-position: top left;
  }
  to {
    background-position: bottom right;
  }
}

.link {
  color: #5560b2;
}

.bg-light-text-grey {
  background-color: rgba(86, 86, 86, 0.3);
  color: #565656;
  font-size: 1.9rem;
  padding: 1rem;
  margin-bottom: 0;
}

.success-message-box {
  padding: 1rem 2rem;
  background-color: #66cfe2;
  font-size: 1.7rem;
}

.container-large {
  max-width: 1499px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1366px) {
  .container-large {
    max-width: 1199px;
  }
}

@media (max-width: 1200px) {
  .container-large {
    width: 90%;
  }
}

.container, .related-post-section .section-wrapper, .search-bar .section-wrapper {
  max-width: 1199px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container, .related-post-section .section-wrapper, .search-bar .section-wrapper {
    width: 90%;
  }
}

.container-small {
  max-width: 799px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container-small {
    width: 90%;
  }
}

.container-small form {
  margin: 0  auto;
  margin-bottom: 4rem;
}

.bg-primary {
  background-color: #5560b2;
}

.bg-secondary {
  background-color: #66cfe2;
}

.bg-white {
  background-color: #fff;
}

.bg-grey {
  background-color: #565656;
}

.bg-success {
  background-color: #41af66;
}

.bg-dark {
  background-color: #000;
}

.animate-tilt-left-right {
  -webkit-animation: animate-tilt-left-right 5s infinite alternate;
          animation: animate-tilt-left-right 5s infinite alternate;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

@-webkit-keyframes animate-tilt-left-right {
  from {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}

@keyframes animate-tilt-left-right {
  from {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}

.breadcrumb-section {
  position: relative;
  overflow: hidden;
}

.breadcrumb-section::before {
  left: 0;
  top: 0;
  width: 100%;
  content: "";
  position: absolute;
  z-index: -1;
  height: 100%;
  background-color: rgba(102, 207, 226, 0.5);
  -webkit-transform: translateX(59%) rotate(156deg);
          transform: translateX(59%) rotate(156deg);
  border-radius: 25rem;
}

.breadcrumb-section::after {
  left: 0;
  bottom: 0;
  width: 40rem;
  content: "";
  position: absolute;
  z-index: -1;
  height: 40rem;
  background-color: rgba(102, 207, 226, 0.5);
  -webkit-transform: translate(-57%, 48%) rotate(147deg);
          transform: translate(-57%, 48%) rotate(147deg);
  border-radius: 25rem;
}

@media (max-width: 650px) {
  .breadcrumb-section::after {
    display: none;
  }
}

.breadcrumb-section-wrap {
  height: 30rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  margin-top: 10rem;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumb-section-wrap::before {
  left: -20%;
  top: 0;
  width: 100%;
  content: "";
  position: absolute;
  z-index: -1;
  height: 100%;
  background-color: rgba(65, 175, 102, 0.3);
  -webkit-transform: translateX(59%) rotate(156deg);
          transform: translateX(59%) rotate(156deg);
  border-radius: 25rem;
}

@media (max-width: 650px) {
  .breadcrumb-section-wrap {
    height: 25rem;
  }
}

.breadcrumb-section-wrap .headings .heading {
  font-style: italic;
}

.company--detail {
  border-top: 1px dashed #565656;
  border-bottom: 1px dashed #565656;
}

.grid-1fr-1fr {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.grid-3fr-1fr {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  grid-gap: 2rem;
}

.grid-3fr-1fr-1fr {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr .5fr 1fr;
      grid-template-columns: 3fr .5fr 1fr;
  grid-gap: 2rem;
}

.grid-text-item.span-full {
  grid-column: 1 / -1;
}

.d-block {
  display: block !important;
}

.btn {
  padding: .7rem 2rem;
  border-radius: 3rem;
  outline: 0;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  display: inline-block;
  border: none;
  outline: none;
  font-size: 1.67rem;
}

.btn:focus {
  text-decoration: none;
  outline: 0;
}

.btn:hover {
  -webkit-transform: scale(1.001);
          transform: scale(1.001);
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.btn.btn-sm {
  font-size: 1.3rem;
  padding: .5rem 1rem;
}

.btn.btn-primary, .btn.btn-secondary, .btn.btn-grey, .btn.btn-success {
  color: #fff;
}

.btn.btn-primary {
  background-color: #5560b2;
}

.btn.btn-primary:hover {
  background-color: #525db1;
}

.btn.btn-secondary {
  background-color: #66cfe2;
}

.btn.btn-grey {
  background-color: #565656;
}

.btn.btn-success {
  background-color: #41af66;
}

.btn.btn-hero-input {
  font-size: 2.6rem;
  background-color: #5560b2;
  color: #fff;
}

@media (max-width: 650px) {
  .btn.btn-hero-input {
    font-size: 1.6rem;
  }
}

.input-with-cta {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20rem auto;
      grid-template-columns: 20rem auto;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1.5rem 2rem;
  border-radius: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(102, 207, 226, 0.4);
  margin: 2.5rem 0;
  -webkit-transition: .3s;
  transition: .3s;
  max-width: 50rem;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

@media (max-width: 650px) {
  .input-with-cta {
    max-width: 65rem;
    padding: 1rem;
    border-radius: 3rem;
  }
}

.input-with-cta:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.input-with-cta .input-box {
  position: relative;
  padding-left: 4rem;
}

.input-with-cta .input-box .input-icon {
  font-size: 3rem;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.input-with-cta .input-box-control {
  border: none;
  outline: none;
  font-size: 2.6rem;
  width: 100%;
}

.global-form {
  padding: 4rem 0;
  position: relative;
}

.global-form-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3rem;
  position: relative;
}

.global-form-box .input-label {
  position: absolute;
  left: 4%;
  top: -22%;
  padding: .5rem;
  font-size: #5560b2;
  font-size: 1.6rem;
  background: #fff;
  display: inline-block;
}

@media (max-width: 550px) {
  .global-form-box .input-label {
    top: -44%;
  }
}

.global-form-box .input-label.tr {
  top: -10%;
}

.global-form-box .input-bar {
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  font-size: 1.6rem;
  padding: 2rem 3rem;
  border-radius: .3rem;
  border: 1px solid #5560b2;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 550px) {
  .global-form-box .input-bar {
    top: -44%;
    padding: 1rem 2rem;
  }
}

.info-input-inline, .info-input-text {
  margin-bottom: 2rem;
}

.info-input-inline .info-label, .info-input-text .info-label {
  font-size: 1.7rem;
  color: #565656;
  display: block;
  margin-bottom: 2rem;
  font-weight: 600;
}

.info-input-inline .info-input-box, .info-input-text .info-input-box {
  display: inline-block;
  vertical-align: top;
  width: auto;
  min-width: 8rem;
  margin: .5em .5em .5em 0;
  padding: 0;
  position: relative;
}

.info-input-inline .info-input-box .info-input, .info-input-text .info-input-box .info-input {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  outline: 0;
}

.info-input-inline .info-input-box .info-input:checked ~ label, .info-input-text .info-input-box .info-input:checked ~ label {
  background-color: #5560b2;
  color: #fff;
}

.info-input-inline .info-input-box label, .info-input-text .info-input-box label {
  border-radius: .3rem;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  font-size: 1.6rem;
  margin: 0;
  padding: 1rem 1.5rem;
  background-color: rgba(0, 0, 0, 0.05);
  display: block;
  text-align: center;
  color: #5560b2;
  font-weight: 600;
}

.info-input-inline .info-input-box .icon, .info-input-text .info-input-box .icon {
  font-size: 4rem;
  display: block;
}

.info-input-inline .info-input-text, .info-input-text .info-input-text {
  max-width: 11rem;
  text-align: right;
  padding: .666rem .7rem;
  font-weight: 400;
  border-radius: .3rem;
  font-size: 1.8rem;
  border: 1px solid #9eceff;
  color: #606060;
  outline: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.info-input-inline .info-input-text:-moz-read-only, .info-input-text .info-input-text:-moz-read-only {
  background-color: #e3e3e3;
  cursor: not-allowed;
}

.info-input-inline .info-input-text:read-only, .info-input-text .info-input-text:read-only {
  background-color: #e3e3e3;
  cursor: not-allowed;
}

.info-input-inline .info-input-text.full, .info-input-text .info-input-text.full {
  width: 100%;
  max-width: initial;
  text-align: left;
}

.info-input-inline .info-input-text.small, .info-input-text .info-input-text.small {
  max-width: 7rem;
}

.info-input-inline .info-input-text:focus, .info-input-text .info-input-text:focus {
  outline: none;
  border-color: #5560b2;
}

.info-input-inline .label-small, .info-input-text .label-small {
  font-size: 1.4rem;
  color: #9c9c9c;
  font-weight: 600;
}

.info-input-inline .label-small.top, .info-input-text .label-small.top {
  margin-bottom: 1rem;
  display: inline-block;
}

.global-select-box {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background-color: rgba(0, 0, 0, 0.05);
}

.global-select-box:focus {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.header {
  position: fixed;
  height: 8rem;
  width: 100%;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: 100;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.header-logo {
  width: 15rem;
  display: inline-block;
}

.header-logo-img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.header-wrapper, .header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-list {
  max-width: 50rem;
  width: 100%;
}

@media (max-width: 900px) {
  .header-list {
    max-width: 100%;
    position: absolute;
    left: 0;
    top: 8rem;
    -webkit-transform: translate(-100%, -5rem) scale(0);
            transform: translate(-100%, -5rem) scale(0);
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transition: .3s;
    transition: .3s;
    background-color: #fff;
    width: calc(100vw - 30%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 4rem 0;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    max-height: calc(100vh - 8rem);
    overflow-y: auto;
  }
  .header-list.active {
    -webkit-transform: translate(0%, 0rem) scale(1);
            transform: translate(0%, 0rem) scale(1);
  }
}

.header-list-item {
  position: relative;
}

@media (max-width: 900px) {
  .header-list-item {
    text-align: center;
  }
}

.header-list-item:hover .header-sub-list {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

@media (max-width: 900px) {
  .header-list-item:hover .header-sub-list {
    max-height: initial;
    visibility: visible;
  }
}

.header-link {
  display: inline-block;
  padding: 3rem 0;
  -webkit-transition: .3s;
  transition: .3s;
  color: #565656;
}

@media (max-width: 900px) {
  .header-link {
    display: block;
    padding: 1rem;
  }
}

.header-link:hover {
  color: #000;
}

.header-sub-link {
  padding: 1rem;
  display: block;
  -webkit-transition: .3s;
  transition: .3s;
}

.header-sub-link:hover {
  background-color: rgba(102, 207, 226, 0.2);
}

.header-sub-list {
  position: absolute;
  background: #fff;
  width: 100%;
  opacity: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  min-width: 24rem;
  -webkit-transform-origin: top;
          transform-origin: top;
  left: 0;
  top: 8rem;
  border-left: 2px solid #66cfe2;
}

@media (max-width: 900px) {
  .header-sub-list {
    position: initial;
    max-height: 0;
    visibility: hidden;
  }
}

.header .hamburger {
  height: 4rem;
  width: 4rem;
  padding: 1rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

@media (max-width: 900px) {
  .header .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header .hamburger .line {
  height: .2rem;
  width: 100%;
  background-color: #5560b2;
}

.header .hamburger .line:not(:last-child) {
  margin-bottom: .2rem;
}

.company-card {
  display: block;
  padding: 1rem;
  height: 11rem;
  background-color: #fff;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: .5rem;
  border: 1px solid rgba(102, 207, 226, 0.4);
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.company-card-img .company-image {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.company-card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.news-card {
  padding: 1rem;
  background-color: #fff;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  max-width: 40rem;
  border: 1px solid rgba(102, 207, 226, 0.4);
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  overflow: hidden;
}

.news-card::after, .news-card::before {
  position: absolute;
  content: "";
  background-color: rgba(86, 86, 86, 0.05);
}

.news-card::before {
  left: 0;
  top: 0;
  height: 20rem;
  width: 20rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.news-card-date {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #5560b2;
  display: inline-block;
  padding: .5rem 1.2rem;
  font-size: 1.3rem;
  -webkit-transform: rotate(-90deg) translate(-40%, -44%);
          transform: rotate(-90deg) translate(-40%, -44%);
}

.news-card-img, .news-card-title, .news-card-category {
  margin-bottom: 1.5rem;
  position: relative;
}

.news-card-img {
  height: 18rem;
  display: block;
  margin-bottom: 1.5rem;
}

.news-card-title {
  font-size: 1.7rem;
  display: block;
}

.news-card-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.news-card-category {
  display: inline-block;
  background-color: rgba(102, 207, 226, 0.4);
  color: #000;
  padding: .5rem .9rem;
  font-size: 1.4rem;
}

.tips-card {
  padding: 2rem;
  background-color: #fff;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  border: 1px solid rgba(102, 207, 226, 0.4);
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  overflow: hidden;
  border-radius: .5rem;
}

.tips-card-img-wrap {
  height: 22rem;
  margin-bottom: 1.5rem;
  overflow: hidden;
}

.tips-card-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.tips-card-link {
  display: block;
  margin-bottom: 1.5rem;
}

.review-card {
  padding: 2rem;
  background-color: #fff;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  border: 1px solid rgba(102, 207, 226, 0.4);
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  overflow: hidden;
  border-radius: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.review-card::before {
  content: "";
  left: 50%;
  bottom: 0;
  background-color: rgba(102, 207, 226, 0.1);
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, 230%) scale(5);
          transform: translate(-50%, 230%) scale(5);
}

.review-card .star {
  font-size: 2rem;
}

.review-card .content-box, .review-card-head {
  margin-bottom: 1.5rem;
}

.review-card .review-stars-wrap, .review-card .content-box {
  position: relative;
}

.about-s-cards {
  margin-top: 3rem;
}

.about-s-cards .scard {
  font-size: 1.8rem;
  color: #5560b2;
  padding: 1.6rem;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(102, 207, 226, 0.4);
}

.about-b-cards {
  margin-top: 3rem;
}

.about-b-cards .scard {
  font-size: 1.8rem;
  color: #5560b2;
  padding: 1.6rem;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(102, 207, 226, 0.4);
}

.about-b-cards .scard .s-img-wrp {
  margin-bottom: 2rem;
}

.team-card {
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  overflow: hidden;
  border-radius: .5rem;
  position: relative;
  border: 1px solid rgba(102, 207, 226, 0.4);
}

.team-card::before {
  position: absolute;
  content: "";
  background: rgba(65, 175, 102, 0.04);
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-clip-path: polygon(80% 0, 100% 0%, 70% 100%, 50% 100%);
          clip-path: polygon(80% 0, 100% 0%, 70% 100%, 50% 100%);
  z-index: -1;
}

.team-card::after {
  position: absolute;
  content: "";
  background: rgba(85, 96, 178, 0.04);
  right: -5%;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-clip-path: polygon(80% 0, 100% 0%, 70% 100%, 50% 100%);
          clip-path: polygon(80% 0, 100% 0%, 70% 100%, 50% 100%);
  z-index: -1;
}

.team-card .image-wrp {
  border-radius: 50%;
  height: 13rem;
  width: 13rem;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.team-card .content-wrp ul li {
  font-size: 1.5rem;
  color: #000;
  padding: .5rem 0;
}

.company-cards {
  background: rgba(85, 96, 178, 0.1);
  position: relative;
  overflow: hidden;
}

.company-cards::before {
  position: absolute;
  content: "";
  background: rgba(65, 175, 102, 0.06);
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-clip-path: polygon(80% 0, 100% 0%, 70% 100%, 50% 100%);
          clip-path: polygon(80% 0, 100% 0%, 70% 100%, 50% 100%);
  z-index: -1;
  -webkit-animation: animationOfelements 10s;
          animation: animationOfelements 10s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.company-cards::after {
  position: absolute;
  content: "";
  background: rgba(85, 96, 178, 0.06);
  right: -5%;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-clip-path: polygon(80% 0, 100% 0%, 70% 100%, 50% 100%);
          clip-path: polygon(80% 0, 100% 0%, 70% 100%, 50% 100%);
  z-index: -1;
  -webkit-animation: animationOfelements 10s;
          animation: animationOfelements 10s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.company-cards--wrp .c-card {
  margin: 0 2rem;
  padding: 2rem;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media (max-width: 650px) {
  .company-cards--wrp .c-card {
    margin: 0 1rem;
  }
}

.company-cards--wrp .c-card .c-image {
  height: 8rem;
  width: 8rem;
}

.company-cards--wrp .c-card .c-text {
  font-size: 2.2rem;
}

.company-cards--wrp .c-card .c-content {
  font-size: 1.6rem;
  color: #000;
}

.company-cards--wrp .c-card:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.company-cards--wrp .c-card:hover .btn-primary {
  color: #5560b2;
  background: #fff;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #5560b2;
}

.c-detail-card .c-top .t-card {
  border-radius: 5px;
  padding: 2.5rem;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(102, 207, 226, 0.4);
}

.c-detail-card .c-top .t-card ul li {
  font-size: 1.6rem;
  list-style: decimal;
}

.c-detail-card .c-bottom .a-card {
  border-radius: 5px;
  padding: 2.5rem;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(102, 207, 226, 0.4);
}

.c-detail-card .c-bottom .a-card ul li {
  padding: 1.5rem 0;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-detail-card .c-bottom .a-card ul li .icon-crd {
  height: 5rem;
  width: 5rem;
  border: 1px solid rgba(102, 207, 226, 0.4);
  border-radius: 5px;
  padding: .2rem;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  margin-right: 2rem;
}

.c-detail-card .c-bottom .a-card ul li .link-crd {
  font-size: 1.8rem;
}

.faq-card {
  background-color: #fff;
  border: 1px solid rgba(85, 96, 178, 0.1);
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.faq-card .icon {
  font-size: 1.9rem;
  background-color: #5560b2;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.faq-card .icon.--plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.faq-card .icon.--minus {
  display: none;
}

.faq-card .question {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6rem auto;
      grid-template-columns: 6rem auto;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  background-color: rgba(85, 96, 178, 0.03);
}

.faq-card .question-data {
  font-size: 1.6rem;
  padding: 2rem 1rem;
  border-bottom: 1px solid rgba(85, 96, 178, 0.03);
  margin-bottom: 0;
}

@media (max-width: 900px) {
  .faq-card .question-data {
    min-height: initial;
  }
}

.faq-card .answer-detail {
  font-size: 1.6rem;
  max-height: 0;
  visibility: hidden;
  -webkit-transition: max-height .1s ease;
  transition: max-height .1s ease;
}

.faq-card .answer-detail .answer-wrap {
  padding: 2rem;
  padding-left: 7rem;
  text-align: justify;
  position: relative;
}

.faq-card .answer-detail .answer-wrap::before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: "A";
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  background-color: rgba(85, 96, 178, 0.3);
}

.faq-card.active .icon.--plus {
  display: none;
}

.faq-card.active .icon.--minus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.faq-card.active .question {
  background-color: rgba(85, 96, 178, 0.03);
}

.faq-card.active .answer-detail {
  visibility: visible;
  max-height: 100rem;
}

.faq-card:hover .question {
  background-color: rgba(85, 96, 178, 0.14);
}

section {
  margin-bottom: 4rem;
}

.h-100 {
  height: 100%;
}

.hero-section {
  position: relative;
  overflow: hidden;
}

.hero-section::before {
  left: 0;
  top: 0;
  width: 100%;
  content: "";
  position: absolute;
  z-index: -1;
  height: 100%;
  background-color: #5560b2;
  -webkit-transform: translateX(59%) rotate(156deg);
          transform: translateX(59%) rotate(156deg);
  border-radius: 50%;
}

.hero-section::after {
  left: 0;
  bottom: 0;
  width: 40rem;
  content: "";
  position: absolute;
  z-index: -1;
  height: 40rem;
  background-color: #5560b2;
  -webkit-transform: translate(-57%, 48%) rotate(147deg);
          transform: translate(-57%, 48%) rotate(147deg);
  border-radius: 50%;
}

@media (max-width: 650px) {
  .hero-section::after {
    display: none;
  }
}

.hero-section-wrap {
  height: 60rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin-top: 10rem;
  position: relative;
}

@media (max-width: 650px) {
  .hero-section-wrap {
    height: 38rem;
  }
}

.hero-section-wrap .left {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hero-section-wrap .right {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 50rem;
  overflow: hidden;
  -ms-grid-column-align: center;
      justify-self: center;
  border-radius: 3rem;
  overflow: hidden;
}

@media (max-width: 650px) {
  .hero-section-wrap .right {
    display: none;
  }
}

.hero-section-left-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  opacity: .03;
}

.hero-section-left-image img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.company-list-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(11rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
  grid-gap: 2rem;
  margin-bottom: 3rem;
}

.news-section .news-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(28rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  grid-gap: 2rem;
  margin-bottom: 3rem;
}

.auto-grid-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(28rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  grid-gap: 2rem;
  margin-bottom: 3rem;
}

.auto-sm-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(22rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-gap: 2rem;
  margin-bottom: 3rem;
}

.auto-team-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(28rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  grid-gap: 2rem;
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .auto-team-grid {
    justify-items: center;
  }
}

.auto-comp-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(28rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  grid-gap: 3rem;
}

@media (max-width: 768px) {
  .auto-comp-grid {
    justify-items: center;
  }
}

.about-us-section-wrap {
  padding: 2rem;
  background-color: #fff;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  border: 1px solid rgba(102, 207, 226, 0.4);
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  overflow: hidden;
}

.about-us-section-wrap .left-section, .about-us-section-wrap .right-section {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
}

.about-us-section-wrap .left-section::before {
  content: "";
  left: 50%;
  bottom: 0;
  background-color: rgba(102, 207, 226, 0.1);
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, 230%) scale(5);
          transform: translate(-50%, 230%) scale(5);
}

.about-us-section-wrap .about-img-wrap img {
  width: 100%;
}

.footer {
  border-top: 1px solid rgba(102, 207, 226, 0.2);
}

.footer-head {
  margin-bottom: 2rem;
}

.footer-wrap {
  padding: 4rem 0;
  padding-bottom: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(28rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  grid-gap: 2rem;
  margin-bottom: 3rem;
}

@media (max-width: 650px) {
  .footer-wrap {
    -ms-grid-columns: (minmax(18rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  }
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-link {
  margin-bottom: 1rem;
}

.footer-link:hover {
  color: #5560b2;
}

.footer-copy-right {
  font-size: 1.4rem;
  padding: .5rem 0;
}

.footer .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 30rem;
  width: 100%;
  padding-bottom: 2rem;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .social-links .social-link {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  width: 4rem;
  background-color: #5560b2;
  color: #fff;
  border-radius: 50%;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer .social-links .social-link:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.main-tbt-img {
  width: 100%;
  overflow: hidden;
  height: 60rem;
  position: relative;
  margin-top: 8rem;
}

@media (max-width: 1366px) {
  .main-tbt-img {
    height: 50rem;
  }
}

@media (max-width: 1024px) {
  .main-tbt-img {
    height: 28rem;
  }
}

@media (max-width: 768px) {
  .main-tbt-img {
    height: 25rem;
  }
}

@media (max-width: 550px) {
  .main-tbt-img {
    height: 23rem;
  }
}

@media (max-width: 425px) {
  .main-tbt-img {
    height: 20rem;
  }
}

.main-tbt-img img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.single-view-content {
  margin-top: 4rem;
  max-width: 80rem;
}

.single-view-content .single-view-head {
  margin-bottom: 3rem;
  font-size: 3.5rem;
}

@media (max-width: 768px) {
  .single-view-content .single-view-head {
    font-size: 2.5rem;
  }
}

@media (max-width: 550px) {
  .single-view-content .single-view-head {
    font-size: 1.8rem;
  }
}

.single-view-content .published-bar {
  color: #5560b2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.single-view-content .published-bar .publish {
  font-size: 1.3rem;
}

.single-view-content .published-bar .publish .color-change {
  color: #5560b2;
  font-size: inherit;
}

.tbt-user-detail-bar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 1.5rem 0;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tbt-user-detail-bar .u-img-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tbt-user-detail-bar .u-img-detail .u-img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  margin-right: 1.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.tbt-user-detail-bar .u-img-detail .u-detail {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.5rem;
}

.tbt-user-detail-bar .u-img-detail .u-detail .name {
  color: #5560b2;
  font-size: inherit;
}

.tbt-user-detail-bar .u-img-detail .u-detail .designation {
  color: #5560b2;
  font-size: 1.3rem;
}

.tbt-user-detail-bar .u-article-count {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.5rem;
  color: #5560b2;
}

.tbt-user-detail-bar .u-article-count .number {
  font-size: inherit;
}

.share-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.share-box .share-head {
  display: inline-block;
  font-size: 1.6rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 1rem;
}

.share-box .share-icon {
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  height: 3rem;
  width: 3rem;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-right: 1rem;
}

.share-box .share-icon:hover {
  color: #5560b2;
}

.related-tags-section {
  padding: 1.5rem 0;
}

.related-tags-section .realted-main-head {
  font-size: 2rem;
}

.related-tags-section .relatd-tag-linnk-holder {
  margin-top: 1.5rem;
}

.related-tags-section .realted-tag {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.3);
  color: black;
  font-size: 1.2rem;
  padding: .5rem 1rem;
  margin-bottom: .1rem;
}

.related-tags-section .realted-tag:hover {
  background-color: black;
  color: white;
}

.related-post-section {
  margin-bottom: 5rem;
}

.related-post-section .main-head {
  text-align: center;
  margin: 5rem 0;
  font-size: 2.5rem;
}

.related-post-carousel {
  margin: 5rem 0;
}

.related-post-carousel .owl-nav {
  position: absolute;
  width: 100%;
  left: 0;
  top: 34%;
}

.related-post-carousel .owl-nav button {
  outline: none;
  border: none;
}

.related-post-carousel .owl-nav button span {
  font-size: 5rem;
  color: #5560b2;
}

.related-post-carousel .owl-nav button.owl-prev, .related-post-carousel .owl-nav button.owl-next {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .7rem !important;
  margin: 0;
}

.related-post-carousel .owl-nav button.owl-prev:hover, .related-post-carousel .owl-nav button.owl-next:hover {
  background-color: #5560b2;
}

.related-post-carousel .owl-nav button.owl-prev:hover span, .related-post-carousel .owl-nav button.owl-next:hover span {
  color: #5560b2;
}

.related-post-carousel .owl-nav button.owl-prev {
  left: 0;
}

.related-post-carousel .owl-nav button.owl-next {
  right: 0;
}

.related-post-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding-bottom: 1rem;
  text-align: center;
  margin-right: 1rem;
}

.related-post-card .post-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 15rem;
  margin-bottom: 1rem;
}

.related-post-card .post-head {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: black;
  display: block;
  min-block-size: 5rem;
  padding: 0 .5rem;
}

.related-post-card .post-conent {
  font-size: 1.4rem;
  color: black;
  font-weight: 400;
  margin-bottom: 1rem;
  padding: 0 .3rem;
}

.related-post-card .publsiishdate {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.related-post-card .publsiishdate .publish, .related-post-card .publsiishdate .date {
  font-size: inherit;
}

.related-post-card .read-btn {
  padding: 0.4rem 1.5rem;
  font-size: 1.6rem;
  color: white;
  background-color: #5560b2;
}

.related-post-card .read-btn:hover {
  background-color: black;
}

.search-bar {
  width: 100%;
  bottom: 13%;
  position: absolute;
  padding: 1rem 0;
}

@media (max-width: 1024px) {
  .search-bar {
    bottom: 1%;
  }
}

.search-bar .section-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-bar .section-wrapper .bread-crumb {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 2.4rem;
  font-weight: 600;
  color: #66cfe2;
  margin-bottom: 1rem;
}

@media (max-width: 1024px) {
  .search-bar .section-wrapper .bread-crumb {
    font-size: 1.5rem;
    margin-bottom: .5rem;
  }
}

.search-bar .section-wrapper .bread-crumb .text {
  font-size: inherit;
  font-weight: inherit;
  text-transform: capitalize;
}

.search-bar .section-wrapper .search-query-form {
  justify-self: flex-end;
  max-width: 70rem;
  width: 100%;
  font-size: 1.8rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: .5rem;
}

@media (max-width: 1024px) {
  .search-bar .section-wrapper .search-query-form {
    font-size: 1.5rem;
  }
}

.search-bar .section-wrapper .search-query-form .search-submit {
  outline: none;
  border: none;
  background-color: #5560b2;
  padding: 2rem 1.5rem;
  width: 100%;
  cursor: pointer;
  color: #66cfe2;
  font-size: inherit;
}

@media (max-width: 1024px) {
  .search-bar .section-wrapper .search-query-form .search-submit {
    padding: 1rem;
  }
}

.search-bar .section-wrapper .search-query-form .search-submit:hover {
  background-color: black;
}

.search-bar .section-wrapper .search-query-form .search-input {
  outline: none;
  border: none;
  font-size: inherit;
  padding: 0 1rem;
}

.global-read-content {
  max-width: 80rem;
  margin: 0 auto;
  overflow-x: auto;
  --heading-font: 2.2rem;
  --magin-bottom: 2rem;
}

.global-read-content caption {
  text-align: left;
  margin-bottom: 1rem;
}

.global-read-content blockquote {
  border-left: .4rem solid;
  border-left-color: #5560b2;
  margin-bottom: 2.5rem;
  padding-left: 2rem;
}

.global-read-content * {
  max-width: inherit !important;
}

.global-read-content table {
  width: 100% !important;
  margin-bottom: 2.5rem;
}

.global-read-content img {
  max-width: 70rem;
  margin: 0 auto 3rem 0;
}

.global-read-content * {
  font-size: 1.7rem;
  color: #4c4c4c;
}

.global-read-content h1 {
  font-size: calc(var(--heading-font));
  margin-bottom: 1rem;
}

.global-read-content h2 {
  font-size: calc(var(--heading-font) - 0.3rem);
  margin-bottom: 1rem;
}

.global-read-content h3 {
  font-size: calc(var(--heading-font) - 0.4rem);
  margin-bottom: 1rem;
}

.global-read-content h4 {
  font-size: calc(var(--heading-font) - 0.6rem);
  margin-bottom: 1rem;
}

.global-read-content h5 {
  font-size: calc(var(--heading-font) - 0.8rem);
  margin-bottom: 1rem;
}

.global-read-content h6 {
  font-size: calc(var(--heading-font) - 1rem);
  margin-bottom: 1rem;
}

.global-read-content p {
  margin-bottom: calc(var(--magin-bottom) - 1rem);
  line-height: 1.5;
  word-break: break-word;
}

.global-read-content ol, .global-read-content ul {
  margin-bottom: var(--magin-bottom);
  list-style-type: unset;
  margin-bottom: 4rem;
}

.global-read-content ol li, .global-read-content ul li {
  margin-bottom: calc( var(--magin-bottom) - 0.5rem);
  padding-left: 2rem;
  position: relative;
}

.global-read-content ol {
  counter-reset: ordered-list;
}

.global-read-content ol li::before {
  counter-increment: ordered-list;
  content: counter(ordered-list) ".";
  position: absolute;
  left: 0;
  top: 0;
  font-size: inherit;
  font-weight: 600;
  color: #5560b2;
}

.global-read-content ul li::before {
  height: 10px;
  width: 10px;
  position: absolute;
  left: 0;
  top: .6rem;
  font-weight: 600;
  border-radius: 50%;
  background-color: #5560b2;
  content: "";
}

.global-read-content a {
  color: #5560b2;
  word-break: break-all;
}

.global-read-content.--white-col * {
  color: #fff;
}

.vehicle-info-container {
  max-width: 66rem;
  margin: 10rem auto;
}

.progress-container .progress-count-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.progress-container .progress-count-wrap .progress-count {
  font-size: 1.4rem;
  color: #565656;
  font-weight: 600;
}

.progress-container .progress-bar {
  position: relative;
  background-color: rgba(86, 86, 86, 0.4);
  height: .5rem;
  border-radius: 1rem;
  overflow: hidden;
}

.progress-container .progress-bar .progress-percent {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 25%;
  background-color: #5560b2;
}

.info-component {
  padding: 2rem;
  background-color: #fff;
  -webkit-box-shadow: 4px 4px 10px rgba(86, 86, 86, 0.1);
          box-shadow: 4px 4px 10px rgba(86, 86, 86, 0.1);
  margin-bottom: 1.5rem;
}

.info-component .info-head {
  font-size: 2.2rem;
  color: #565656;
  position: relative;
  padding-bottom: 2rem;
}

.info-component .info-head::before {
  left: 0;
  bottom: 0;
  width: 4rem;
  height: .3rem;
  background-color: #5560b2;
  content: "";
  position: absolute;
}

.info-component .model-detail-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid rgba(86, 86, 86, 0.2);
  padding: 1rem;
  margin-bottom: 3rem;
  border-radius: .5rem;
}

.info-component .model-detail-box:hover {
  border-color: #5560b2;
}

.info-component .model-detail-box .vehicle-m {
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 3rem;
  margin-right: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(86, 86, 86, 0);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.info-component .model-detail-box .vehicle-m:hover {
  -webkit-box-shadow: 2px 2px 5px rgba(86, 86, 86, 0.1);
          box-shadow: 2px 2px 5px rgba(86, 86, 86, 0.1);
  background-color: #fff;
  color: #5560b2;
  border: 1px solid rgba(86, 86, 86, 0.1);
}

.info-component .model-detail-box .v-m-m-m {
  margin-right: 1rem;
  display: inline-block;
}

.info-component .model-detail-box .v-del {
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.info-component .model-detail-box .v-del:hover {
  color: red;
}

.select-year-component {
  position: relative;
  border: 1px solid rgba(86, 86, 86, 0.1);
  border-radius: .5rem;
}

.select-year-component::after {
  position: absolute;
  right: 20px;
  border: 20px solid transparent;
  border-bottom-color: rgba(86, 86, 86, 0.3);
  content: "";
  top: -40px;
}

.select-year-component .select-list-item {
  padding: 1rem;
  padding-left: 3rem;
  font-size: 2rem;
  border-bottom: 1px solid rgba(86, 86, 86, 0.1);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select-year-component .select-list-item:hover {
  background-color: rgba(86, 86, 86, 0.1);
}

.select-year-component .select-list-img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 4rem;
  height: 4rem;
  -o-object-position: center;
     object-position: center;
  margin-right: 2rem;
}
/*# sourceMappingURL=style.css.map */